<!-- By: Andreea Popa
     Description: This page is for the user to request to adopt a cat with status "waiting for adoption" -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Abopt Cat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="../javascript/bootstrap/js/bootstrap.min.js" rel="stylesheet">
</head>

<body onload="getAdoptableCats()">
    <script src="../javascript/script.js"></script>
    <script src="../javascript/formscript.js"></script>

    <form>
        <label>Your Name:</label>
        <input type="text" name="ownerName" placeholder="Your Name">
        <label>Email:</label>
        <input type="text" name="ownerEmail" placeholder="Email">
        <label>Select a Cat:</label>
        <select name="cats" id="catSelection">
            <option value="">Select Cat</option>
        </select>
        <button type="submit">Submit Adoption</button>
    </form>
</body>

</html>